.application {
  font-family: 'Press Start 2P', cursive !important;
  color: #ea201c;
}

#app,
#app div,
#app a,
#app span,
#app table,
#app thead,
#app tbody,
#app tr,
#app td {
  font-family: 'Press Start 2P', cursive !important;
  color: #ea201c;
}

.redtext {
  font-family: 'Press Start 2P', cursive !important;
  color: #ea201c;
}

.v-card {
  background-color: transparent !important;
  border-color: transparent !important;
}
