.application {
  font-family: 'Press Start 2P', cursive !important;
  color: #ea201c;
}

#app,
#app div,
#app a,
#app span,
#app table,
#app thead,
#app tbody,
#app tr,
#app td {
  font-family: 'Press Start 2P', cursive !important;
  color: #ea201c;
}

.toasted {
  font-family: 'Press Start 2P', cursive !important;
}

.redtext {
  font-family: 'Press Start 2P', cursive !important;
  color: #ea201c;
}

.v-card {
  background-color: transparent !important;
  border-color: transparent !important;
}

.darkred {
  color: #450302 !important;
}

.darkredbg {
  background-color: #450302;
}

.theme--dark.v-input {
  color: #ea201c !important;
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.4s;
}
.page-enter,
.page-leave-active {
  opacity: 0;
}

.theme--light.v-application {
  background: #fff !important;
}

.navigation-drawer__border {
  width: 10px !important;
  background-color: red !important;
}

a {
  text-decoration: none;
  color: #cfd8dc;
}

a:hover {
  text-decoration: none;
}

tr:hover {
  background-color: transparent !important;
}

.v-application a {
  color: #cfd8dc;
}

[v-cloak] > * {
  display: none;
}
[v-cloak]::before {
  content: ' ';
}

.theme--dark.v-input input,
.theme--dark.v-input textarea {
  color: #ea201c !important;
}
